.folder-config {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .folder-config {
    flex-direction: column;
  }

  .folder-info,
  .role-config {
    flex: unset;
    width: 100%;
  }
}

.folder-info {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.add-subrole-section {
  display: flex;
  flex-direction: column;  /* Stack the elements vertically */
  padding: 1rem;
}

.folder-config-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}